* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    max-width: 100%;
    /*overflow-x: hidden;*/
    height: 100vh;
    /*min-width: 20em; /* es 320px en em*/
    font-size: 0.8em;/* 12 px en em*/
    font-family: 'Times New Roman';
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "sectionA"
        "sectionB"

        "footer";

    background: #EAA4BC;
    
    

}





/* .............. logo- encabezado   header-----------*/
/* aplico grid*/
header {
    grid-area: header;
    /*place-content:center ;*/
    display: flex;
    
     align-items: center;
 /*   grid-template-areas:
        "logo logo titulo titulo";
        grid-template-columns:repeat(2,1fr);*/
    
}



.logo img {
    
    width: 40vw;
    border-radius: 4em;  /* 40px en em*/
   /* margin-left: 30px;*/

}

.titulo {
    
    font-size: 7vw;
   /* align-items: center;
    text-align: center;*/
    color: #79CDCF;
    /* animation-duration: 5s;
    animation-name: mover;
    animation-iteration-count: 1;*/
}

/*
   @keyframes mover {
    from {
      margin-left:80%;
      width:-100%
    }
  
    to {
     margin-right:0%;
     width:100%;
   }
   }*/
/*------------ menu en el nav-------------------*/
nav {
    
    grid-area: nav;
    display: grid;
    max-width: 100%;
    /*resposive*/

   /* margin-left: auto;
    margin-bottom: 1.875em; /* 30px en em*/
    justify-items: center;
    border-radius: 1.25em;/*20 px en em*/
    background-color: #FFFFFF;

}


.menu {
    max-width: 100%;
    list-style: none;
    display: flex;
   flex-wrap: wrap;
    align-items: center;
    
}

.menu>li {
    position: relative;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 0.938em 1.25em; /* 15px y 20px en em*/
    color: #A37283;
    font-family: 'Open sans';
    font-size: 1.2em;
    text-decoration: none;
}

.menu li a:hover {
    color: #A37283;
    transition: all 3s;
}

/* Submenu*/

.submenu {
    position: absolute;
    background: #FFB3CD;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    z-index: 1;
    list-style: none;
}

.submenu li a {
    display: block;
    padding: 0.938em; /* 15px en em*/
    color: #FFFFFF;
    font-family: 'times new roman';
    font-size: 1.5em;
    text-decoration: none;
    
}

.menu li:hover .submenu {

    visibility: visible;
    opacity: 1;

}

/*--------- carrusel------------*/




.sectionA {
    grid-area: sectionA;
   /* margin-left: 20%;*/
    position: relative;
    max-width: 18.75em; /* 300px en em*/
    border-radius: 0.375em;  /* 6px en em*/
    overflow: hidden;
  
    margin: auto;

}

.slide {
    display: flex;

    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.slide .item-slide img {
    max-width: 100%;
    max-height: 100%;
}

.item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination {
    position: absolute;
    bottom: 1.25em;  /* 20px en em*/
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.125em solid white;  /* 2pxen em*/
    width: 1.875em;  /* 30 px en em*/
    height: 1.875em;
    border-radius: 0.25em; /* 4px en em*/
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 0.625em;  /* 10 px en em*/
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover {
    transform: scale(2);
}

.pagination-item img {
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(2);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img {
    opacity: 1;
    transform: scale(2);
}


input[id="1"]:checked~.slide {
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked~.pagination .pagination-item[for="1"] {
    background: #fff;
}

input[id="2"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked~.pagination .pagination-item[for="2"] {
    background: #fff;
}


input[id="3"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked~.pagination .pagination-item[for="3"] {
    background: rgb(234, 231, 236);
}


@keyframes autoplay {
    33% {
        transform: translate3d(calc(-100% * 0), 0, 0);
    }

    66% {
        transform: translate3d(calc(-100% * 1), 0, 0);
    }

    100% {
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}

/*--------- section B--------*/

.sectionB {
    grid-area: sectionB;

}

/*------------footer-------------*/
.footer {
    display:flex;
    grid-area: footer;
    flex-direction: row;
     max-width: 100%;
   
    background-color: #FFB3CD;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

    
.piedepagina{
        display: flex;
    

}
.piedepagina >div >ul{
    list-style: none;
}

.textofooter p{
    font-size: 1.2em;
}
.piedepagina > div > ul > li >a{
    display: flex;
    font-size: 1.2em;
    padding: 0.313em;  /* 5px en em*/
    margin: 0.625em;   /* 10pxen em*/
    color: white;
    text-decoration: none 
       
}

.textofooter{
    display: flex;
    align-items: flex-end;
}
.piedepagina li a:hover {
    color: #FFB3CD;
    transition: all 2s;
}
    


.textofooter{
    display: flex;
    color: white;
    float: right;

}

.piedepagina menu {
    align-content: flex-start;
}



/*---------------página Micro y macro nutientes------*/
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.main-productoselectricos {
    

    grid-template-areas:
        "h1-Productos "
        "h2-Eléctricos "
        "sectionC "
        "h2-Productos "
        "sectionD ";
     
   /* grid-template-columns: repeat(2, 2fr);*/
    
    justify-items: center;
    margin: auto 

}

.h1-Productoselectricos {
    grid-area: h1-Productos;
    display: flex;
    justify-content: center;
}
.maquillajesrealizados .h2-maquillajes{
    grid-area: h2-maquillajes;
}
.sectionC {

    grid-area: sectionC;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionD {
    grid-area: sectionD;
     width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-skincare>h1 {
    text-align: center;
}

   

.h2-skincare>h2 {
    text-align: center;
    padding: 1.25em;    /* 20px en em*/
    font-size: 2em;
}

.img-skincare {
    display: flex;
    justify-content: center;
    padding: 0.625em;   /* 10px en em*/
    height: 60vh;
    width: 70%;

}

/*--contenedor que contiene al p*/
.p-div-macro {
    
    background-color: #fff;
    border-radius: 5vw;
    text-align: justify;
    padding: 10vw;
    min-height: 60vh;
    
    
    /* ­webkit­shape­inside: rectangle(0,0,100%,100%,50px,50px);*/
    /* shape-outside: rectangle(0,0,100%,100%,5vw,5vw);*/
}

/*le doy estilo dentro del div al p*/
.p-div-skincare p {
    font-size: larger;
    word-wrap: break-word;
    height: 100%;
}

/*.............página de alimentación saludable--------*/


.main_maquillajesrealizados{
    max-width: 100%;
    grid-template-areas: 
    "h1-macro"
    "sectionE "
    "sectionF "
    "sectionG ";
    
    
}



.sectionE{
    grid-area: sectionE;
    display: grid;
    justify-items: center;
}
.sectionF{
    grid-area: sectionF;
    display: grid;
    justify-items: center;
}
.sectionG{
    grid-area: sectionG;
    display: grid;
    justify-items: center;
}
.img-banner{
    display: flex;
    justify-content: center;
    padding: 1.875em; /*30pxen em*/
    width: 20em;   /* 320px en em*/
    height:12.5em;    /*200px en em*/
    margin: auto;
}
.img-envios img{
    width: 90%;
    height: 100%;
}
.p-div-producto1{
    display: grid;
    width: 70%;
    background-color: #fff;
    border-radius: 5vw;
    text-align: justify;
    padding: 2vw;
    min-height: 50vh;
    word-wrap: break-word;
    margin: 0.625em;   /*10px en em*/
    font-size:1.2rem;
    
}
.p-div-producto2 >p{
    padding: 0.625em; /* 10 px en em*/
    
}

.img-producto3{
    display: flex;
    justify-content: center;
    padding: 1.875em; /* 30 px en em*/
    
}
.img-producto4 img{
    max-width: 80%;
}

/*--------- Maquillajes Realizados 1------------------- */

.img-maquillajesrealizados{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 20%;
    height: 20%;
    margin: auto;
}

.h1-maquillajesrealizados{
    color: #fff;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #FFB3CD,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px #487A7A,
               0 0 5px #487A7A,
               0 1px 3px #487A7A,
               0 3px 5px #487A7A,
               0 5px 10px #487A7A,
               0 10px 10px #487A7A,
               0 20px 20px #487A7A;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
   font-family:  "Times New Roman", Times, serif;

}

.sectionH p{
    display: flex;
    padding: 30px;
    width: auto;
    height: auto;
  
}
.sectionH h3{
    color: #fff;
    text-shadow: #FFB3CD 0 0 10px;
    text-align: left;
    padding: 20px;
    font-size: 2rem;
}

.sectionH ul{
    list-style: square inside url("sqpurple.gif");
    margin-left: 10px;
}

.sectionI h3{
    color: #fff;
    text-shadow: #FFB3CD 0 0 10px;
    text-align: left;
    padding: 20px;
    font-size: 2rem;
}

.sectionI ul{
    list-style: square inside url("sqpurple.gif");
    margin-left: 10px;
}


/* ----------------------------------*/
@media (min-width: 768px) and (max-width:1024px) /*, (max-width:1440)and (min-width:1025px)*/
{
    .logo img{
    width: 20vw;
}

     nav{
        width: 90%;
        margin: auto;
     }
   
}

@media (min-width:1024px){
     .logo img {
        width: 15vw;
     }

     nav{
        width: 70%;
        margin: auto;
     }

     .titulo {
        font-size: 4vw;
     }
   

    /* productos electricos*/
    .img-macro {
        width: 40%;
    
         }
     .img-cepillofacial img {

       width: 100%;
    }

}

@media  (min-width:2560) {
    html{
        font-size: 18 em;
    }
    nav{
        width: 60%;
    }
    .logo img {
        width: 20vw;
       }
    
    .titulo {
        font-size: 4vw;
    }

}
